li {
  display: inline;
  margin-right: 20px;
}
a {
  font-size: 18px;
}

.bi-bar-chart-line {
  color: orange;
}
h5 {
  color: orange;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 30px;
  font-family: sans-serif;
}

Section {
  margin-top: 100px;
}
p {
  font-size: 60px;
  font-weight: 700;
  font-family: sans-serif;
  margin-bottom: 30px;
  line-height: 64px;
}

h6 {
  font-weight: 100;
  color: #878889;
}
.Section-3 {
  text-align: center;
}
img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.card {
  padding: 10%;
  height: 30vh;
  background-color: #d3dbe7;
  border: none;
  border-radius: 20px;
}
ul {
  background: none;
  font-size: 16px;
}
.nav-link {
  text-align: center;
}

.dropdown-item {
  text-align: center;
}

input {
  padding-bottom: 5px;
}
.Reg-Style {
  text-decoration: underline;
}
button {
  border-radius: 15px;
}
.accordion-button {
  background: none;
  border: none;
  box-shadow: none;
  color: black;
}
