/* You can add global styles to this file, and also import other style files */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: whitesmoke;
  background-image: url("assets/images/background.png");
}

img {
  margin-top: 10px;
  padding-bottom: 10px;
}
