<div class="container-fluid">
  <nav>
    <img src="../../assets/images/logo.png" alt="" class="logo" />
    <ul>
      <li><a> Home</a></li>
      <li><a> Features</a></li>
      <li><a>About</a></li>
      <li><a> History</a></li>
    </ul>
    <a class="btn">EN</a>
  </nav>

  <div class="content">
    <h1>
      Buy <br />
      & Sell <span> Crypto </span>
    </h1>
    <p>Wolrds biggest crypto exchange platform on web as well as on phone</p>
    <a href="" class="btn">EXPLORE MORE</a>
  </div>
  <div class="coin-list">
    <div class="coin">
      <img src="../../assets/images/ethereum.png" alt="" />
      <h3>$00</h3>
      <p>Ethereium</p>
    </div>

    <div class="coin">
      <img src="../../assets/images/bitcoin.png" alt="" />
      <h3>$00</h3>

      <p>Bitcoin</p>
    </div>

    <div class="coin">
      <img src="../../assets/images/dogecoin.png" alt="" />
      <h3>$00</h3>

      <p>Dogecoin</p>
    </div>
  </div>
</div>
